<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
     {% load static %}
     <link href="{% static 'css/style.css' %}" rel="stylesheet">
     <script src="{% static '/js/script.js' %}" type="text/javascript"></script>    
</head>
<body bgcolor="white">
	<h2 style="background-color: #999966;border: 1px sold black;border-radius: 10px;color:white;width: 450px;text-align:center;">Django Static Files Handling</h2>
<img src="{% static '/downloaddjango.png' %}" alt="My image" height="300px" width="700px"/>&emsp;&emsp;
<br>
<br><br>
<br>
<br><br>
<br>
<br><br>
<br>
<br>
<marquee style="background-color: #999966;font-family: bold;font-size: 20px;color:white;padding: 5px;">© Copyright 
<mark>2019-2020</mark>  All rights reserved .</marquee>
</body>  
</html>